
/* generic fixes */
.tab-line {
	height: 3px !important;
}

/* Removing Borders */
.titlebar-spacer[type="pre-tabs"] {
	border: none !important;
	/*width: 0px !important;*/
}
.tabbrowser-tab::after {
	color: transparent!important; 
	opacity: 0 !important; 
}
#urlbar {
	box-shadow: none !important; 
}

/* Tab Opacity Fix */
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]):not([multiselected]){
	background-color: transparent !important;
}

/* Padding Fixes*/
.titlebar-buttonbox-container{ 
	padding-right: 0px !important;
	margin-right: -26px !important;
}

/* nav bar border fixes */
#navigator-toolbox {
	border: none !important;
	padding-bottom: 1px !important;	
}
#navigator-toolbox { 
	--tabs-border-color: transparent !important; 
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

