
.tab-line {
	height: 3px !important;
	background-color: !important;
}

/* Removing Borders */
.titlebar-spacer[type="pre-tabs"] {
	border: none !important;
	/*width: 0px !important;*/
}
.tabbrowser-tab::after {
	color: transparent!important; 
	opacity: 0 !important; 
}
#urlbar {
	box-shadow: none !important; 
	border: none !important;
	/*border: 1px !important;*/
	font-weight: 600 !important;
	/*background-color: #3b4252!important;*/
	/* color: #eceff4  !important; */
}

/* Tab Opacity Fix */
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]):not([multiselected]){
	background-color: transparent !important;
}

/* Padding Fixes*/
.titlebar-buttonbox-container{ 
	padding-right: 0px !important;
	margin-right: 0px !important;
}

/* nav bar border fixes */
#navigator-toolbox {
	border-bottom-color: #ffddee !important;
	padding-bottom: 0px !important;
	padding-top: 0px !important;	
}
#navigator-toolbox { 
	--tabs-border-color: transparent !important; 
}

/* Bookmarks toolbar is visible only on new tab page, just like Chrome. */

 #main-window #PersonalToolbar {
	visibility: collapse !important;
}
	#main-window[title^="about:newtab"] #PersonalToolbar,
  	#main-window[title^="New Tab"] #PersonalToolbar,
	#main-window[title^="Mozilla Firefox"] #PersonalToolbar,
 	#main-window[title^="Customize Firefox"] #PersonalToolbar {
	visibility: visible !important;
}

/* Center bookmark toolbar items */
#PlacesToolbarItems {
	-moz-box-pack: center;
}

#PlacesToolbar {
	padding-top: 4px !important;
}

/* #urlbar { 
	text-align: center;
} 

.urlbarView-row-inner {
	padding-left: 30% !important;
} */

#extension-icon,
#identity-icon-label {
    display: none !important;
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
