/* colors */
PINK	- #FF66AA
GREEN	- #66FFAA



/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/* TAB TWEAKS */

/*style the tab highlight line*/
.tab-line {
    height: 2px !important;
    background-color: #ff66aa !important;
}

/*hide inactive tab close buttons until hovered*//*
.tabbrowser-tab:not([pinned="true"]):not([selected]):not(:hover) .tab-close-button {
  	display: none !important; 
}*/

/*hide all tabs*//*
#TabsToolbar { 
	visibility: collapse !important; 
}*
/*style the box to the left of the tabs*/
.titlebar-spacer[type="pre-tabs"] {
 	border: none !important;
	/*width: 0px !important;*/
}

/* HIDE TAB BORDERS */

:root {
  --tabs-border: transparent !important;
}

/* Hide separators between background tabs */
.tabbrowser-tab::before {
	color: transparent!important; 
	opacity: 0 !important; 
}

.tabbrowser-tab::after {
  	color: transparent!important; 
	opacity: 0 !important; 
}

/* Remove placeholder right border */
.titlebar-placeholder {
	border: none !important;
}

/* TABS BELOW NAV BAR */
/*
#nav-bar { 
 	-moz-box-ordinal-group: 1 !important;
}
#PersonalToolbar { 
 	-moz-box-ordinal-group: 2 !important;
}
#titlebar { 
 	-moz-box-ordinal-group: 3 !important;
} */

/* show tabs on hover *//*
#navigator-toolbox:not(:hover) > #titlebar{ -moz-appearance: none !important }
#navigator-toolbox:not(:hover)  #TabsToolbar:not([customizing]) { visibility: collapse }
#navigator-toolbox:hover > #nav-bar:not([customizing]){ animation: slidein ease-out 66ms 1 }
#navigator-toolbox:not(:hover) > #nav-bar:not([customizing]){ animation: slideout ease-out 66ms 1 }
*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/* URL-BAR TWEAKS */

/*make url search text text THICC*//*
#urlbar{
	font-weight: bold !important;
}*/

/*url bar shadow fix*/
#urlbar:hover {
	box-shadow: none !important;
} 
#urlbar {
	box-shadow: none !important; 
}

#urlbar {
	/*border: none !important*/
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/* MISC. TWEAKS */

/* style the nav bar */
#navigator-toolbox {
	border: none !important;
	padding-bottom: 1px !important;	
}

#navigator-toolbox { --tabs-border-color: transparent !important; }

#nav-bar {
	border:none !important;
}

.titlebar-buttonbox-container{ 
	-moz-box-ordinal-group: 0 !important; 
	padding-right: 0px !important;
	margin-right: -26px !important;
}


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/*FINDBAR TEWAKS*/

findbar {
  -moz-box-ordinal-group: 0;
  position: relative;
  margin-top: -4px !important;
  margin-bottom: calc(0px - 2 * var(--toolbarbutton-inner-padding) -  20px);
  border-top: none !important;
  transition: transform 82ms linear, opacity 82ms linear 32ms !important;
  background: var(--toolbar-bgcolor) !important;  /* --lwt-accent-color for contrast */ 
  /* Don't overlap with scrollbar */
  /* margin-right: 16px; */
}
findbar .findbar-textbox {
	width: 32em !important;
	text-align: center !important;  
} 
findbar[hidden] {
  	transform: translateY(-30px);
}	
findbar > .findbar-container {
  	-moz-box-direction: reverse;
}
findbar .findbar-button {
  	-moz-box-ordinal-group: 0;
}
findbar .found-matches {
	-moz-box-ordinal-group: 2;
	display: -moz-box; 
	min-width: 200px;
	text-align: right !important;
	opacity: 0.75 !important;
}
findbar .findbar-find-fast.findbar-find-status {
  	-moz-box-ordinal-group: 3;
  	display: none !important;
}

findbar > .findbar-container > hbox {
  	margin: 0 70px;
}
findbar > .findbar-container::before,
findbar > .findbar-container::after {
	content: "";
	display: -moz-box;
	-moz-box-flex: 1;
  	-moz-box-ordinal-group: 0
}
findbar > .findbar-container::after { 
	-moz-box-ordinal-group: 4;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
